@import '../../styles/variables';
@import '../../styles/mixins/input';

.addNewContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;
    .innerContainer {
        max-width: 70%;
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
    .oneInput {
        input {
            @include input;
        }
        &.oneInput {
            border: 0;
        }
    }
}